<div id="references-content">
	<table border="1">
		<thead>
			<tr>
				<th></th>
				<th>Reference ID</th>
				<th>Creation Date</th>
				<th>User Name</th>
				<th>Description</th>
				<th>Accepted</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody id="references-tbody">
		</tbody>
	</table>
</div>
